body {
    margin: 0;
    font-family: arial, Arial, Helvetica, sans-serif;
    background-color: #121212;
    color: #FFFFFF;

}

form {
    display: flex;
    flex-direction: column; /* Empilha os elementos */
    gap: 10px; /* O espaço que substitui o <br> */
}

.tela-login {
    background-color: #1e1e1e;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 12px;
    color: #FFFFFF;
    width: 320px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.tela-login h1 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

.tela-login p {
    margin-top: 15px;
    text-align: center;
}

.tela-login a{
    color: #bdbdbd;
    text-decoration: none;
    font-size: 14px;
}

.tela-login a:hover {
    text-decoration: underline;
}

input {
    padding: 10px;
    border: none;
    border-radius: 6px;
    outline: none;
    font-size: 15px;
    transition: 0.3s;
}

button { 
    background-color: #66bb6a;
    border: none;
    padding: 12px; 
    width: 100%;
    border-radius: 6px;
    color: #121212;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

/* Quando o e-mail estiver mal formatado ou o campo obrigatório estiver vazio */
input:invalid {
    border: 2px solid #ff4d4d; /* Borda vermwlha */
}

/* Quando o usuário digitar corretamente */
input:valid {
    border: 2px solid #2ecc71; /* Borda verde */
}

button:hover {
    background-color: #57a85b;
}